
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&family=Playfair+Display:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&family=Playfair+Display:ital,wght@1,600;1,800&display=swap');
*
{
    margin: 0;
    padding: 0;
   
}

#tr{
    position: relative;
top: 25px;
}

#tr2{

position: relative;
top: 25px;


}
h2{
font-size: 30px;
  
font-family: 'Encode Sans SC', sans-serif;

}


line{
width: 70%;
height: 60%;
 
color: gray;

}
.img1,.img2,.img3{

position: relative;
top: -29px
}
.img4,.img5,.img6{

    position: relative;
    bottom: 44px
}

.img4{
    position: relative;
    top: -36px;
    right: 19px;

}

p{
    font-size: 30px;
    display: inline-block;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black
}


#he{
color:goldenrod;
    text-align: center;
    font-size: 80px;
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Playfair Display', serif;

}
.contanier{

    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

.contanier .card{
position: relative;
/* right: 30px; */
max-width: 300px;
height: 215px;
background-color: white;
margin: 30px     10px;
padding: 20px    15px;
display: flex;
flex-direction: column;
box-shadow: 0 5px 202px rgba(0,0,0,0.5 );
transition: 0.3s ease-in-out;
}
.contanier .card:hover  {
height: 420px;
}
.contanier .card .imgBx{

    position: relative;
    width: 260px;
    height: 260px;
    top: -10px;
    left: 20px;
    z-index: 0;
    box-shadow: 0 5px 202px rgba(0,0,0,0.2);

}

.contanier .card  .content {
 position: relative;

 margin-top: -140px; 
padding: 10px 15px; 
text-align: center;
color: #111; 
visibility: hidden;
opacity: 0;
transition: 0.3s ease-in-out;
} 

.contanier .card:hover  .content {

    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s   ;
    margin-top: -20px;
} 
